@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


/* These styles apply inside CKEditor */
.ck-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #1a1a1a;
}

.ck-content h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
  color: #1a1a1a;
}

.ck-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #1a1a1a;
}


/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}

.sidebar {
  /* width: 20%; */
  height: 100vh;
  overflow-y: auto;
  /* background-color: #1f2937; */
  color: white;
}


.sidebar::-webkit-scrollbar {
  width: 6px;
  /* scroll ki chaurai kam ho gayi */
}

.sidebar::-webkit-scrollbar-track {
  background: #1f2937;
  /* sidebar ka hi color, taki blend ho jaye */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #4b5563;
  /* halka grey handle */
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
  /* hover pe thoda light */
}

/* Firefox ke liye */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

.main-content {
  width: 80%;
  /* flex-grow: 1; */
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f3f4f6;
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .main-content {
    width: 100%;
    height: calc(100vh - auto);
  }
}









/* This will affect all CKEditor instances */
.ck-content img {
  display: none !important;
}

/* Or if you want to be more specific to just this instance */
.hide-editor-images .ck-content img {
  display: none !important;
}